@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    width: 100%;
    background-color: black;
}

/* Configurações do cabeçalho */

header {
    background-image: linear-gradient(to right, #800080, #000000);
    height: 150px;
}

/* Configurações do menu e links para seções */

menu {
    position: relative;
    top: 122px;
    display: block;
    background-color: #800080;
    list-style-type: none;
    text-align: center
}

#botaoMenu {
    cursor: pointer;
}

menu > ul#opcoes {
    background-image: linear-gradient(to right, #800080, #000000);
    box-sizing: border-box;
    display: none;
}

menu > ul > li {
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgb(66, 66, 66);  
}

menu > ul > li:hover {
    background-color: rgb(168, 168, 168);
}

menu > ul > li > a {
    text-decoration: none;
    font-size: 1em;
    color: white;
}

main {
    position: relative;
    min-height: 683px;
    background: url(../imagens/fundo.jpg) no-repeat left bottom;
    width: 100%; 
    background-size: cover;
}

#praCima {
    position: sticky;
    top: 80vh;
    left: 90%;
    z-index: 1;
    cursor: pointer;
}
 /* Configurações das seções */

main .secoes {
    max-width: 768px;
    padding: 20px;
    background-color: lightgray;
    margin: 20px 5px;
    border-radius: 8px;
    box-shadow: 1px 1px 2px black;
    opacity: .75;
    text-align: center;
    box-shadow: 1px 1px 2px black;
}

main .secoes > h1 {
    padding: 15px;
}

/* config aba quem sou eu */

section > .fotoPerfil {
    display: block;
    margin: 15px auto;
    border: 2px solid black;
    border-radius: 50%;
}

section > img:hover {
    border: 3px solid white;
}

/* config projetos */

#projetos > ul {
    list-style-type: none;
    display: block;
    margin: auto;
}

#projetos > ul > li {
    padding: 20px;
}

#projetos > ul > li > p {
    padding: 10px;
}

/* Configurações do rodapé */

footer {
    width: 100%;
    height: 130px;
    background-color: black;
}

footer > p {
    color: white;
    font-style: italic; 
    text-align: center;
    padding: 20px;   
}