@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: black;
}

/* Configurações do cabeçalho */

header {
    background-image: linear-gradient(to right, #490283, #000000);
    height: 78px;
}

/* Configurações do menu e links para seções */

menu {
    position: relative;
    top: 50px;
    display: block;
    background-color: #490283;
    list-style-type: none;
    text-align: center
}

#botaoMenu {
    cursor: pointer;
}

menu > ul#opcoes {
    background-image: linear-gradient(to right, #490283, #000000);
    box-sizing: border-box;
    display: none;
}

menu > ul > li {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #424242;  
}

menu > ul > li:hover {
    background-color: #a8a8a8;
}

menu > ul > li > a {
    text-decoration: none;
    font-size: 1em;
    color: white;
}

main {
    position: relative;
    min-height: 799px;
    background: url(../imagens/fundo.jpg) no-repeat left bottom;
    width: 100%; 
    background-size: cover;
}

#praCima {
    position: sticky;
    top: 80vh;
    left: 90%;
    z-index: 1;
    cursor: pointer;
    color: white;
    background-color: black;
    border-radius: 3px;
}
 /* Configurações das seções */

main .secoes {
    max-width: 1000px;
    padding: 20px;
    background-color: lightgray;
    margin: 20px 5px;
    border-radius: 8px;
    box-shadow: 1px 1px 2px black;
    opacity: .75;
    text-align: center; 
    
}

main .secoes > h1 {
    padding: 15px;
}

/* config aba quem sou eu */

main .perfil {
    max-width: 768px;
    padding: 20px;
    margin: 20px auto;
    color: white;
    text-align: center; 
}

main .secoes > h1 {
    padding: 15px;
}

section > .fotoPerfil {
    display: block;
    margin: 15px auto;
    border: 3px solid white;
    border-radius: 50%;
}

/* config projetos */

#projetos {
    display: none; 
}

#projetos > ul > li > p {
    color: white;
    padding: 8px;
    text-align: justify;
    text-indent: 20px;
}
#projetos > ul {
    list-style-type: none;
    display: block;
    margin: auto;
}

#projetos > ul > li { 
    max-width: 768px;
    padding-bottom: 15px;
    margin: 10px auto;
    border-radius: 5px;
    overflow: hidden;
    background-color: #000000;
}

#projetos > ul > li > h2 {
    padding: 10px;
    margin-bottom: 10px;
    background-color:#490283;
    color: white;
}

/* Configurações Contato */

#contato {
    display: none;
    max-width: 800px;
    margin: 20px auto;
}

input, textarea, label {
    margin: 10px;
    display: block;
    text-align: left;
}

/* Configurações do rodapé */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: black;
}

footer > p {
    color: white;
    font-style: italic; 
    padding: 10px;   
}