@charset "UTF-8";

@media  screen and (min-width: 768px) and (max-width: 992px) {
 
    main .secoes {
        margin: 20px auto;
        max-width: 992px;
    }

    #praCima {
        position: sticky;
        top: 80vh;
        left: 83%;
        z-index: 1;
        cursor: pointer;
        color: white;
        background-color: black;
        border-radius: 3px;
    }

    #projetos > ul > li { 
        max-width: 800px;
        padding-bottom: 15px;
        margin: 10px auto;
        border-radius: 5px;
        overflow: hidden;
        background-color: #000000;
    }

}

@media screen and (min-width: 992px) {

    main .secoes {
        margin: 20px auto;
    }
    
    menu {
        position: relative;
        top: 50px;
        display: inline-block; 
    }
    
    #botaoMenu {
        display: none;
    }
    
    menu > ul#opcoes {
        background-image: linear-gradient(to right, #490283, #000000);
        display: block;
    }
    
    menu > ul > li {
        background-color: initial; 
        border-radius: 3px;    
    }
    
    menu > ul > li:hover {
        background-color: #a8a8a8;     
    }
    
    menu > ul > li > a {
        font-size: 1em;
        color: white;
    }

    menu > ul {
        columns: 5;
        list-style-type: none;
    }

    #projetos {
       margin: auto;
    }
}

